# the script expects  the websocket proxy installed in /opt. If you install it
# elsewhere, please update WorkingDirectory accordingly
[Unit]
Description=Karmen websocket proxy tunnel client
After=network.target

[Service]
ExecStart=node client
Restart=always
# delay between restart executions
RestartSec=1
# how many times to try to restart the service in StartLimitIntervalSec
# StartLimitBurst=
# StartLimitIntervalSec=
User=pi
Group=pi
Environment=PATH=/usr/bin:/usr/local/bin
EnvironmentFile=/etc/websocket_proxy.conf
WorkingDirectory=/opt/websocket_proxy

[Install]
WantedBy=multi-user.target
